.nav-item:hover{
    background-color: #643a79;
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    margin: 8px;
    font-family: "Titillium Web";
}
.head_text{
    padding-top: 130px;
}
.head_big_button{
    background-color: #eb7d4b;
    outline: none;
    border: none;
    border-bottom: 5px solid #c86a40;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;   
    font-size: 25px; 
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 130px;
    margin-top: 80px;
    border-radius: 5px;
    transition: 0.5s;
}
.head_big_button:hover{
    background-color: #c86a40;
}  
.body_1{
    background-color: #17c2a4;
}
.line{
    height: 3px;
    width: 80px;
    background-color:#14a58c;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body_one_title{
    padding-top: 100px;
    font-family: "Titillium Web";
}

.head_txt{
    font-family: "Titillium Web";
}

.body_text_two{
    font-size: 20px;
    font-family: "Titillium Web";
}

.body_1{
    color: #ffff;
    font-family: "Titillium Web";
}

.body_one_col{
    padding-top: 100px;
    padding-bottom: 100px;
}
.line2{
    height: 3px;
    width: 80px;
    background-color:#c8d9e5;
    margin-top: 15px;
    margin-bottom: 15px;
}

.edit{
    background-color: #bdd1df;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.icon{
    color: #fff;
    font-size: 25px;
}
.no-edit{
    background-color: #bdd1df;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}


.edit_one{
    background-color: #bdd1df;
    padding-top: 5px;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.body_2_title{
    padding-top: 100px;
    font-weight:bold;
}

.body_2{
    background-color: #e7f1f8;
    padding-bottom: 100px;
}

.title{
    color: #3c4761;
    font-family: "Titillium Web";
    font-weight: 700;
    padding-top: 25px;
   
}

.title_2{
    color: #3c4761;
    font-family: "Titillium Web";
    
}

.padobi{
    color: #30bae7;
    margin-top: -10px;
}

.body_3{
    color: #3c4761;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: "Titillium Web";
}

.body_3_body_text{
    font-size: 19px;
    font-weight: 600;
    padding-top: 20px;
}

.body_3_title_text{
    padding-bottom: 20px;
}

.body_4{
    background-color: #ffdd99;
    color: #393939;
    font-family: "Titillium Web";
    padding-top: 100px;
    padding-bottom: 100px;
}

.line3{
    height: 3px;
    width: 80px;
    background-color:#e5c37f;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body_4_nav{
    color: black;
    background-color: #ebc985;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    transition: 0.5s;

}
.body_4_nav:hover{
    background: white;
    
    
}

.body_4_a{
    color: #000;
    font-size: 13px;
}
.body_4_a:hover{
    color: #000;
}
.c-body_4{
    padding-bottom: 10px;
}

.com-2{
    padding-top: 25px;
}

.com-1{
    padding-top: 25px;
}

.cop-txt{
    color: #60584a;
}

.body_4_title_text{
    font-weight: 600;
}
.body_4_btn{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #17c2a4;
    outline: none;
    border: none;
    font-weight: 600;
    color: #fff;
    border-bottom: 5px solid #14a58c;
    border-radius: 5px;
    margin-top: 30px;
    transition: .5s;
}

.body_4_btn:hover{
    background-color: #14a58c;
}

.line4{
    height: 3px;
    width: 80px;
    background-color:#b73c6d;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body_5{
    background-color: #d74680;
    color: #fff;
    font-family: "Titillium Web";
    padding-top: 100px;
    padding-bottom: 100px;
}

.body_5_client_hover:hover{
    color: #fcd597;
    cursor: pointer;
}

.body_5_title{
    font-weight: 600;
    font-family: "Titillium Web";
}

.body_6{
    background-color: #3c5499;
    color: #fff;
    font-family: "Titillium Web";
    padding-top: 100px;
    padding-bottom: 100px;
}
.line5{
    height: 3px;
    width: 80px;
    background-color:#273a71;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body_6_title{
    font-weight: 600;
}

.body_6_btn{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #30bae7;
    border-bottom: 5px solid #299ec5;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.footer_nav_item:hover{
    background: none;
}

.footer_nav_link{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.footer_nav_link:hover{
    color: #328dc1;
}